<template>
  <div>
    <PageHeader first="学生" second="成绩查询" />

    <SearchBar :items="searchLayout" ref="searchBar">
      <Button type="primary" @click="handleSearch">查询</Button>
    </SearchBar>

    <BaseTable
      :columns="mainTable.columns"
      :dataSource="mainTable.data"
      :loading="mainTable.loading"
      :pagination="mainTable.pagination"
      @change="this.handleTableChange"
    ></BaseTable>
  </div>
</template>

<script>
import { apiGetScoreList } from '@/api/student'
import { searchLayout, columns } from './constant'
import { searchMixin } from '@/utils/mixins/search.mixin.js'

export default {
  mixins: [searchMixin],

  data() {
    return {
      searchLayout,

      mainTable: {
        data: [],
        columns
      }
    }
  },

  methods: {
    async getList() {
      this.mainTable.loading = true

      const { searchInfo } = this
      searchInfo.page = this.mainTable.pagination.current

      const {
        success,
        data: { total, page, list },
        msg
      } = await apiGetScoreList(searchInfo)

      if (success) {
        this.mainTable.data = list
        this.mainTable.pagination.current = page
        this.mainTable.pagination.total = total
        this.mainTable.loading = false
      } else {
        this.$message.error(msg)
      }
    }
  },

  created() {
    this.getList()
  }
}
</script>
