<template>
  <div>
    <PageHeader first="系统管理" second="教师管理" />

    <SearchBar :items="searchLayout" ref="searchBar">
      <Button type="primary" @click="handleSearch">查询</Button>
      <Button @click="handleAdd" style="margin-left: 15px">新增教师</Button>
    </SearchBar>

    <BaseTable
      :columns="mainTable.columns"
      :dataSource="mainTable.data"
      :loading="mainTable.loading"
      :pagination="mainTable.pagination"
      @change="this.handleTableChange"
    >
      <span slot="action" slot-scope="text, record">
        <a @click="handleEdit(record)">修改</a>
        <Divider type="vertical" />
        <a @click="handleDel(record)">删除</a>
      </span>
    </BaseTable>

    <ActionModal
      :visible="actionModal.visible"
      :loading="actionModal.loading"
      :dataSource="actionModal.dataSource"
      @close="actionModal.visible = false"
      @submit="handleAction"
    />
  </div>
</template>

<script>
import {
  apiGetTeacherList,
  apiDelTeacher,
  apiAddTeacher,
  apiEditTeacher
} from '@/api/admin'
import { searchLayout, columns, dataHelper } from './constant'
import { searchMixin } from '@/utils/mixins/search.mixin.js'
import { ActionModal } from './components/ActionModal'

export default {
  mixins: [searchMixin],

  components: { ActionModal },

  data() {
    return {
      searchLayout,

      mainTable: {
        data: [],
        columns
      },

      actionModal: {
        visible: false,
        loading: false,
        dataSource: {}
      }
    }
  },

  methods: {
    // 新增教师按钮
    handleAdd() {
      this.actionModal.dataSource = {
        teacherList: this.teacherList
      }
      this.actionModal.visible = true
    },

    // 修改教师信息按钮
    handleEdit(record) {
      this.actionModal.dataSource = {
        ...record
      }
      this.actionModal.visible = true
    },

    // 处理表单
    handleAction({ form, data }) {
      const { id, name, number, phone, sex, rank } = data
      const params = {
        name,
        number,
        phone,
        sex,
        rank
      }
      let actionApi
      let text
      if (id) {
        actionApi = apiEditTeacher
        text = '修改'
        params.id = id
      } else {
        actionApi = apiAddTeacher
        text = '新增'
      }

      this.$confirm({
        title: name,
        content: `确认${text}该教师信息?`,
        onOk: async () => {
          this.actionModal.loading = true
          const { success, msg } = await actionApi(params)

          if (success) {
            this.actionModal.visible = false
            form.resetFields()
            this.$message.success(msg)
            this.getList()
          } else {
            this.$message.error(msg)
          }

          this.actionModal.loading = false
        }
      })
    },

    // 删除教师信息
    handleDel({ id, name }) {
      this.$confirm({
        title: name,
        content: '是否删除该教师信息?',
        okType: 'danger',
        onOk: async () => {
          const params = { id }

          const { success, msg } = await apiDelTeacher(params)
          if (success) {
            this.$message.success(msg)
            this.getList()
          } else {
            this.$message.error(msg)
          }
        }
      })
    },

    async getList() {
      this.mainTable.loading = true

      const { searchInfo } = this
      searchInfo.page = this.mainTable.pagination.current

      const {
        success,
        data: { total, page, list },
        msg
      } = await apiGetTeacherList(searchInfo)

      if (success) {
        this.mainTable.data = dataHelper(list)
        this.mainTable.pagination.current = page
        this.mainTable.pagination.total = total
        this.mainTable.loading = false
      } else {
        this.$message.error(msg)
      }
    }
  },

  created() {
    this.getList()
  }
}
</script>
