<template>
  <LayoutHeader style="background: #fff; padding: 0">
    <Dropdown>
      <span class="global-layout-header-name">{{ name }}</span>
      <template v-slot:overlay>
        <Menu>
          <MenuItem key="center" @click="handleToInfo">
            <Icon type="user" />
            个人信息
          </MenuItem>
          <MenuItem key="pwd" @click="handleResetPwd">
            <Icon type="key" />
            修改密码
          </MenuItem>
          <MenuDevider />
          <MenuItem key="logout" @click="handleLogout">
            <Icon type="logout" />
            退出登录
          </MenuItem>
        </Menu>
      </template>
    </Dropdown>
  </LayoutHeader>
</template>

<script>
import { Storage } from '@/utils/storage'
import { apiLogout } from '@/api/user'

export default {
  data() {
    return { name: '' }
  },

  methods: {
    handleToInfo() {
      this.$router.push({ path: '/user/personalInfo' })
    },

    handleResetPwd() {
      this.$router.push({ path: '/account/resetPwd' })
    },

    handleLogout() {
      this.$confirm({
        title: '提示',
        content: '是否退出登录',
        onOk: async () => {
          const { success, msg } = await apiLogout()

          if (success) {
            Storage.remove('_user')
            this.$router.push({ path: '/account/login' })
          } else {
            this.$message.error(msg)
          }
        }
      })
    }
  },

  created() {
    const { name } = Storage.get('_user')
    this.name = name || ''
  }
}
</script>

<style lang="scss">
.global-layout-header-name {
  float: right;
  margin-right: 8px;
  height: 100%;
  padding: 0 12px;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    background: rgba(0, 0, 0, 0.025);
  }
}
</style>
