<template>
  <Breadcrumb style="margin-bottom: 20px;">
    <BreadcrumbItem>{{ first }}</BreadcrumbItem>
    <BreadcrumbItem>{{ second }}</BreadcrumbItem>
  </Breadcrumb>
</template>

<script>
export default {
  props: {
    first: String,
    second: String
  }
}
</script>

<style></style>
