<template>
  <div class="search-bar">
    <Row v-for="(rows, index) in items" :key="index">
      <template v-for="item in rows">
        <Col v-if="item.type === 'select'" :key="item.field" :span="6">
          <Select
            :placeholder="item.placeholder"
            :key="item.field"
            v-model="searchInfo[item.field]"
            style="width: 80%"
          >
            <SelectOption
              v-for="option in item.options"
              :key="option.value"
              :value="option.value"
            >
              {{ option.label }}
            </SelectOption>
          </Select>
        </Col>

        <Col v-if="item.type === 'input'" :key="item.field" :span="6">
          <Input
            :placeholder="item.placeholder"
            :key="item.field"
            v-model="searchInfo[item.field]"
            style="width:80%"
          />
        </Col>
      </template>
    </Row>
    <Row style="margin-top: 10px;">
      <slot></slot>
    </Row>
  </div>
</template>

<script>
export default {
  props: {
    items: {
      type: Array,
      default: () => []
    }
  },

  data() {
    return {
      searchInfo: {}
    }
  }
}
</script>

<style lang="scss">
.search-bar {
  margin-bottom: 20px;
}
</style>
